extends ../layout

block title
    //- Edit title 
    title Reports 
block content
    - var controller = '/reports' //-- EDIT    
    div.navbar-fixed
        nav#nav.darken-4.center-align 
            div.nav-wrapper 
                a(class='brand-logo center')    
                span(style="font-size:200%").white-text #{title} 
                span(style="font-size:80%") #{pager.count} 

                ul.left 
                    li
                        a(href="#" data-activates="sidebar" class="button-collapse")
                            i(class="fa fa-bars")
                ul.right
                    li 
                        a(href="#!",data-activates="dropdown-1").dropdown-button
                            i(class="fa fa-chevron-down")
                    ul#dropdown-1.dropdown-content
                        li
                            a(href="#{controller}/table").white-text
                                i(class="fa fa-table")
                                span.left10 Table
                        li 
                            a(href="#{controller}/list").white-text
                                i(class="fa fa-list-ul")
                                span.left10 List
                        li 
                            a(href="#{controller}/cards").white-text
                                i(class="fa fa-list-alt")
                                span.left10 Cards
                        
    div.grey.lighten-4.z-depth-1  
        .row    
            form(id="formSearch")
                .col.m6.s12
                    .input-field
                        i(class="fa fa-search prefix") 
                        - var sValue= search===undefined ? '' : search ; 
                        input(id="search" name="search" value="#{sValue}" type="text")
                .col.m6.s12.right-align
                    include ../paginator.jade                            
    div(style="margin-top:-20px;").white    
        .divider
        .row 
            //- Edit fields
            - var cols = ['No', 'Client', 'Report', 'Feedback','User','At', 'Action'];
            table.table.bordered.striped.responsive-table
                thead
                    each row, index in cols
                        th
                            u #{row}
                tbody
                    each row, index in model
                        tr 
                            td=index+1
                            td #{row.client.name}
                            td !{row.report.comment}
                            td !{row.feedback.comment}
                            td #{row.createdBy.username}
                            td #{moment(row.createdAt).format('DD/MM/YYYY HH:mm:ss')}
                            td
                                form(id='#{row._id}', action='#{controller}/#{row._id}?_method=DELETE',  method='post')

                                    a(data-activates='#{index}').btn.white.main-color-text.dropdown-button Action

                                    ul(id='#{index}').dropdown-content
                                        li 
                                            a(href='#{controller}/#{row._id}/order').orange-text Order
                                        .divider
                                        li 
                                            a(href='#{controller}/#{row._id}') View
                                        .divider
                                        li 
                                            a(href='#{controller}/#{row._id}/update') Update
                                        .divider
                                        li 
                                            a(href='#', data='#{row._id}' class='btnDelete') Delete

    //-Edit btn-floating  
    .fixed-action-btn.horizontal
        a(href="#{controller}/create",data-position="left",data-delay="50",data-tooltip="Create new").btn-floating.btn-large.orange.tooltipped 
            i(class="fa fa-pencil")               
    
    script.
        
        var ACTION = { 
            onReady:function(){
                //showProgress(true);
                init();
                
                //-- bind ACTION 
                $(document).on('click', 'a.btnDelete', ACTION.btnDelete);
                
            }, 
            btnDelete: function(e){
                e.preventDefault(); 
               //-- do sthing 
                //- var cf = confirm('Are you sure to DELETE?');
                //- if (cf==true){
                //-     var formId = "form#"+$(this).attr('data');
                //-     //alert(formId);
                //-     $(formId).submit();
                //-     //$('form#frmDelete').submit();

                //-     return false; 
                //- }
                var formId = "form#"+$(this).attr('data');
                notie.confirm('Are you sure you want to do that?', 'Yes', 'Cancel', function() {
                    notie.alert(1, 'Deleted!', 2);
                    $(formId).submit();
                });
            }
        }

        $( document ).ready( ACTION.onReady );

        //--------- CUSTOM ------------------
        function init(){
            //- var msg = '#{message}' || "";
            //- if (msg!="")
            //-     Materialize.toast(msg,3000, 'rounded'); 

            //-- plugins
            //$('ul.tabs').tabs(); 
            $('.tooltipped').tooltip({delay: 0});

            $('.dropdown-button').dropdown({
              inDuration: 300,
              outDuration: 225,
              constrain_width: false, // Does not change width of dropdown to that of the activator
              hover: false, // Activate on hover
              gutter: 0, // Spacing from edge
              belowOrigin: false, // Displays dropdown below the button
              alignment: 'left' // Displays dropdown with edge aligned to the left of button
            });

        }
    
