extends ../layout

block title
    //- Edit title 
    title User List 
block content
       
    .row
        .col.s12.blue.darken-4.white-text.z-depth-1
            h1 
                i(class="fa fa-user") 
                span(style="margin-left:10px;") #{title} 
                span(class="badge").white #{pager.count} items
    .row    
        .col.s12
            .card-panel
                .row.grey-text.darken-2 
                    .row 
                        form(id="formSearch")
                            .col.m6.s12
                                .input-field
                                    i(class="fa fa-search prefix") 
                                    - var sValue= search===undefined ? '' : search ; 
                                    input(id="search" name="search" value="#{sValue}" type="text")
                            .col.m6.s12.right-align
                                include ../paginator.jade                            
                        
                .row 
                    //- Edit fields
                    - var cols = ['No', 'Username', 'Email', 'BOD', 'Role', 'Action'];
                    table.table.bordered.striped.responsive-table
                        thead
                            each row, index in cols
                                th=row
                        tbody
                            each row, index in model
                                tr 
                                    td=index+1
                                    td #{row.username} 
                                    td #{row.email}
                                    td #{row.birthday ? row.birthday.toISOString().slice(0,10) : ''}
                                    td #{row.role}
                                    td
                                        form(id='frmDelete', action='/admin/users/#{row._id}?_method=DELETE',  method='post')

                                            a(data-activates='#{index}').dropdown-button Action

                                            ul(id='#{index}').dropdown-content
                                                li 
                                                    a(href='/admin/users/#{row._id}') View
                                                li 
                                                    a(href='/admin/users/#{row._id}/update') Update
                                                li 
                                                    a(href='#' class='btnDelete') Delete

    //-Edit btn-floating  
    .fixed-action-btn.horizontall.click-to-toggle
        a(href="#").btn-floating.btn-large.red
            i(class="fa fa-bars")       
        ul
            li
                a(href="/admin/users",data-position="left",data-delay="50",
                    data-tooltip="View as cards").btn-floating.yellow.tooltipped 
                    i(class="fa fa-list")    
            li
                a(href="/admin/users/create",data-position="left",data-delay="50",
                    data-tooltip="Create new").btn-floating.green.tooltipped 
                    i(class="fa fa-plus")            
    script.
        $(document).ready(function(){
            $('a.btnDelete').click(function(e){
                e.preventDefault();
                var str = 'Are you sure?';
                if (confirm(str)){
                    $('form#frmDelete').submit();
                }
            });

            $('.tooltipped').tooltip({delay: 0});

            $('.dropdown-button').dropdown({
              inDuration: 300,
              outDuration: 225,
              constrain_width: false, // Does not change width of dropdown to that of the activator
              hover: true, // Activate on hover
              gutter: 0, // Spacing from edge
              belowOrigin: false, // Displays dropdown below the button
              alignment: 'left' // Displays dropdown with edge aligned to the left of button
            });

        });

