extends ../layout

block title
    title Update
block content
    .row
        .col.s12.blue.darken-4.white-text.z-depth-1
            .container
                h1 
                    i(class="fa fa-user") 
                    span(style="margin-left:10px;") #{title} 
    .row     
        .container
            .card-panel.white
                form(action='/admin/lists/#{model._id}?_method=PUT', 
                method='post')
                    .input-field
                        label Type
                        input(type="text", name="type", value=model.type)
                    .input-field
                        label Value
                        input(type="text", name="value", value=model.value)    
                    .input-field
                        label Text
                        input(type="text", name="text", value=model.text)
                    
                    .input-field
                        input(type="submit", name="submit", value="Update", class="btn") 
                        span(style="margin-right:10px;")  
                        a(href='/admin/lists/#{model._id}' class="btn") View 
                    //-- Logged
                    .div
                        - var updatedAt = new Date()
                        - var updatedBy = user._id
                        input(type="hidden", name="updatedAt", value="#{updatedAt}")
                        input(type="hidden", name="updatedBy", value="#{updatedBy}")
                            
